body {
  background-color: pink;
}

h2 {
  margin: 0;
}

.answer {
  color: #c70039;
  font-size: 2rem;
}

.heading {
  display: inline-block;
  text-align: center;
  margin-top: 30px;
}

.row {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.main-heading {
  color: #d8345f;
  font-size: 3.3rem;
  font-family: 'Sacramento', cursive;
}
