body {
  background-color: pink;

}
h2{
  margin:0;
}
.heading {
  display: inline;
  margin: auto;
}

.row{
  text-align: center;
font-family: 'Montserrat', sans-serif;
font-weight: bold;
}

.main-heading{
    color: #d8345f;
    font-size: 4.35rem;

    font-family: 'Sacramento', cursive;
}
